<form action="https://www.getdrip.com/forms/967759716/submissions" method="post" data-drip-embedded-form="967759716">
  <h2 data-drip-attribute="headline">Never miss a post!</h2>
  <div data-drip-attribute="description" style="font-size: 18px">Occasionally, we post content worth reading. Don't miss out when we do.</div>
    <div class="email" style="margin-top: 10px">
    	<label for="drip-email">Email Address:</label>
        <input type="email" id="drip-email" name="fields[email]" value="" placeholder="Email Address" 
        	   style="height: 18px	;
        	   		  font: helvetica;
        	   		  color: black;"/>
    	<input 
    		type="submit" 
    		value="Subscribe" 
    		data-drip-attribute="sign-up-button" 
    		style="font:helvetica;
    			   color: grey;
    			   font-size: 18px;" />
  	</div>
</form>

