<form action="https://www.getdrip.com/forms/967759716/submissions" method="post" data-drip-embedded-form="967759716">
  <h3 data-drip-attribute="headline">Never miss a post!</h3>
  <div data-drip-attribute="description">Occasionally, we post content worth reading. Don't miss out when we do.</div>
    <div class="email">
        <label for="drip-email">Email Address</label><br />
        <input type="email" id="drip-email" name="fields[email]" value="" />
    </div>
  <div>
    <input type="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
  </div>
</form>